body {
    font-family: 'Raleway', sans-serif;
    background: #f8f8f8;
}

/*tekst*/
h1 {
    font-size: 50px;
    font-weight: 800;
    line-height: 1.5;
    text-align: center;
    padding-bottom: 50px;
}

h2 {
    line-height: 1.5;
    text-align: center;
    font-size: 30px;
}

h3 {
    font-size: 40px;
    font-weight: 800;
}

h4 {
    font-size: 24px;
    font-weight: 800;
}

h5 {
    font-size: 2vh;
    font-weight: 400;
    letter-spacing: 0.8vh;
    margin-top: 2vh;
    margin-left: 4vh;
    color: white;
}

p {
    font-size: 20px;
    line-height: 1.5;
}

.tekstvakken {
    margin: 0 auto;
    width: 80%;
}

/*navigatie*/
nav {
    background: #ffffff;
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 5;
    box-shadow: 0px 10px 72px -17px rgba(0,0,0,0.28);
}

.navigatie {
    width: 100%;
    height: 2vh;
}

.nav-logo {
    float: left;
    margin-top: 1vh;
    margin-left: 4vh;
    height: 5vh;
}

img {
    width: 100%;
    height: auto;
}

.nav-tekst {
    float: right;
    margin-top: 3.5vh;
    font-size: 4vh;

}

ul a {
    text-decoration: none;
    color: black;
}

li {
    float: left;
    font-size: 3.5vh;
    margin-right: 7vh;
    font-weight: 600;
    letter-spacing: 0.5vh;
}

/*header*/


.hero-home {
    width: 100%;
    height: 100vh;
    background: url(../img/hero.jpg);
    opacity: 70%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
}

.hero-article {
    width: 100%;
    height: 100vh;
    background: url(../img/afbeelding2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
}

.tekstvak-header {
    width: 100%;
    background-size: cover;
    margin-top: 45vh;
    position: absolute;
}

.tekstvak-header-article {
    width: 100%;
    background-size: cover;
    margin-top: 50vh;
    position: absolute;
}

.grijze-balk {
    width: 100%;
    height: 6vh;
    background: #707070;
    padding-top: 10vh;
    position: fixed;
    z-index: 2;
    box-shadow: 0px 10px 72px -17px rgba(0,0,0,0.28);
}

.header-tekst {
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 7vh;
    font-weight: 800;
    letter-spacing: 1vh;
    line-height: 1.3;
}

main {
    width: 100%;
    margin: 0 auto;
}

#container {
    max-width: 1200px;
    margin: 0 auto;
}

.welkom-mario {
    margin-bottom: 75px;
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.promovideo {
    margin: 0 auto;
    height: 0;
    overflow: hidden;
    position:relative;
	padding-bottom:56.25%;
    margin-top: 75px;
    box-shadow: 30px 30px 0px -17px rgba(0,0,0,0.28);
}

iframe {
    position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.article-header {
    margin: 0 auto;
    width: 900px;
    height: 620px;
    background: url(../img/mario.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 30px 30px 0px -17px rgba(0,0,0,0.28);
}

.tutorial1 {
    margin-top: 75px;
    margin-bottom: 75px;
    width: 100%;
    height: 600px;
    background: white;
    box-shadow: 30px 30px 0px -17px rgba(0,0,0,0.28);
}

.tutorial2 {
    margin-top: 75px;
    margin-bottom: 75px;
    width: 100%;
    height: 600px;
    background: white;
    box-shadow: 30px 30px 0px -17px rgba(0,0,0,0.28);
}

.tutorial3 {
    margin-top: 75px;
    margin-bottom: 75px;
    width: 100%;
    height: 600px;
    background: white;
    box-shadow: 30px 30px 0px -17px rgba(0,0,0,0.28);
}
footer {
    margin-top: 100px;
    height: 450px;
    width: 100%;
    background: #707070;
}

.clear { clear:both;}

.line {
    max-width: 1200px;
    margin: 0 auto;
    height: 1px;
    background: #707070;
    margin-top: 100px;
    margin-bottom: 100px;
}

/*mario workshop*/
.workshop-new {
    height: 400px;
    width: 100%;
    margin: 0 auto;
    background: white;
    box-shadow: 30px 30px 0px -17px rgba(0,0,0,0.28);
}

.mario-code-img {
    height: 400px;
    width: 50%;
    background:url(../img/afbeelding2.svg);
    float: left;
    background-size: cover;
    background-position: center;
}

.mario-code-tekstvak {
    height: 270px;
    width: 50%;
    float: right;
}

.mario-code-tekst {
    width: 88%;
    height: 200px;
    margin: 0 auto;
}

.tekstvak-button-workshop {
    width: 50%;
    float: right;
    margin-top: 70px;
}

.button-tekst-workshop {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-top: 4px;
}

/*workshops*/
.tekst {
    padding: 20px;
    margin: 0 auto;
}

.workshop1 {
    margin-top: 75px;
    width: 360px;
    height: 650px;
    float: left;
    margin-right: 5%;
    background: white;
    box-shadow: 30px 30px 0px -17px rgba(0,0,0,0.28);
}

.afbeelding1 {
    width: 100%;
    height: 250px;
    background: url(../img/afbeelding2.svg);
    background-size: cover;
}

.workshop2 {
    margin-top: 75px;
    width: 360px;
    height: 650px;
    float: left;
    background: white;
    box-shadow: 30px 30px 0px -17px rgba(0,0,0,0.28);
}

.afbeelding2 {
    width: 100%;
    height: 250px;
    background: url(../img/afbeelding2.svg);
    background-size: cover;
}

.workshop3 {
    margin-top: 75px;
    width: 360px;
    height: 650px;
    float: right;
    background: white;
    box-shadow: 30px 30px 0px -17px rgba(0,0,0,0.28);
}

.afbeelding3 {
    width: 100%;
    height: 250px;
    background: url(../img/afbeelding3.svg);
    background-size: cover;
}

.tekstvak {
    width: 100%;
    height: 40%;
    padding-bottom: 20px;
}

.tekstvak-button {
    margin-top: 50px;
}

.button-workshop {
    padding: 20px 50px;
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
    background: #6cb85e;
    text-align: center;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.28);
}

.meer-workshops {
    background: #6cb85e;
    padding: 25px;
    width: 350px;
    text-align: center;
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0 auto;
    margin-top: 75px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.28);
}

.meer-workshops1 {
    color: white;
    text-decoration: none;
}


/*Team*/
.team {
    width: 100%;
    margin: 0 auto;
    padding-top: 75px;
}

.persoon1 {
    width: 30%;
    height: 400px;
    background: white;
    float: left;
    margin-right: 5%;
    box-shadow: 30px 30px 0px -17px rgba(0,0,0,0.28);
}

.persoon2 {
    width: 30%;
    height: 400px;
    background: white;
    float: left;
    box-shadow: 30px 30px 0px -17px rgba(0,0,0,0.28);
}

.persoon3 {
    width: 30%;
    height: 400px;
    background: white;
    float: right;
    box-shadow: 30px 30px 0px -17px rgba(0,0,0,0.28);
}

.foto1 {
    width: 100%;
    height: 320px;
    background: url(../img/juri.svg);
    background-position: center;
    background-size: cover;
}

.foto2 {
    width: 100%;
    height: 320px;
    background: url(../img/guusje.svg);
    background-position: center;
    background-size: cover;
}

.foto3 {
    width: 100%;
    height: 320px;
    background: url(../img/martijn.svg);
    background-position: center;
    background-size: cover;
}

.naam {
    text-align: center;
    margin:0 auto;
    margin-top: 30px;
}

.level1 {
    background: #6CB85E;
    width: 100%;
    height: auto;
    padding-top: 75px;
    padding-bottom: 75px;
    color: white;
    margin-bottom: 50px;
}

.level2 {
    background: #F07D0B;
    width: 100%;
    height: auto;
    padding-top: 75px;
    padding-bottom: 75px;
    color: white;
    margin-bottom: 50px;
}

.level3 {
    background: #E73435;
    width: 100%;
    height: auto;
    padding-top: 75px;
    padding-bottom: 75px;
    color: white;
    margin-bottom: 50px;
}

.afbeelding {
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
}


@media only screen and (max-width: 1300px) {
    h1 {font-size: 45px;}
    h2 {font-size: 27px;}
    h3 {font-size: 36px;}
    h4 {font-size: 21.6px;}
    p {font-size: 18px;}
    .button-workshop {padding: 18px 30px;}
    .header-tekst {font-size: 4vh;}
    #container {width: 95%;}
    .workshop-new {width: 100%;}
    .tekstvak-button {margin-top: 25px;}
    .promovideo {width: 100%;}
    main {width: 90%;}
    .article-header {width: 100%;}
    .workshop1{width:30%; height: 600px;}
    .workshop2{width:30%; height: 600px;}
    .workshop3{width:30%; height: 600px;}
    .afbeelding1{height: 35%;}
    .afbeelding2{height: 35%;}
    .afbeelding3{height: 35%;}
    .tekstvak {padding-bottom: 65px;}
    .button-tekst {padding-top: 1px;}
    .persoon1{width:30%; height: 370px;}
    .persoon2{width:30%; height: 370px;}
    .persoon3{width:30%; height: 370px;}
    .foto1 {height: 290px;}
    .foto2 {height: 290px;}
    .foto3 {height: 290px;}
}

@media only screen and (max-width: 1100px) {
    h1 {font-size: 40px;}
    h2 {font-size: 24px;}
    h3 {font-size: 32px;}
    h4 {font-size: 19.2px;}
    p {font-size: 17px;}
    .nav-tekst {display: none;}
    #container {width: 95%;}
    .team {width: 80%;}
    .promovideo {width: 100%;}
    main {width: 90%;}
    .article-header {width: 100%;}
    .workshop-new{height: 700px;}
    .mario-code-img{width: 100%; height: 55%;}
    .mario-code-tekstvak {width: 100%; height: 220px;}
    .tekstvak-button-workshop {float: left; margin-top: 40px;}
    .workshop1 {width: 100%; height: 300px;}
    .workshop2 {width: 100%; height: 300px;}
    .workshop3 {width: 100%; height: 300px;}
    .afbeelding1 {width: 50%; height: 100%; float: left;}
    .afbeelding2 {width: 50%; height: 100%; float: left;}
    .afbeelding3 {width: 50%; height: 100%; float: left;}
    .tekstvak{width:50%; height: 200px; float: right; padding-bottom: 0px;}
    .tekstvak-button {width:50%; float: left; margin-top: 50px;}
    .team {width: 100%;}
    .persoon1{width:30%; height: 300px;}
    .persoon2{width:30%; height: 300px;}
    .persoon3{width:30%; height: 300px;}
    .foto1 {height: 240px;}
    .foto2 {height: 240px;}
    .foto3 {height: 240px;}
    .naam {margin-top: 20px;}
}

@media only screen and (max-width: 800px) {
    h1 {font-size: 35px;}
    h2 {font-size: 21px;}
    h3 {font-size: 28px;}
    h4 {font-size: 16.2px;}
    p {font-size: 15px;}
    .nav-tekst {display: none;}
    #container {width: 95%;}
    .team {width: 80%;}
    .promovideo {width: 100%;}
    main {width: 90%;}
    .article-header {width: 100%;}
    .workshop-new{height: 700px;}
    .mario-code-img{width: 100%; height: 55%;}
    .mario-code-tekstvak {width: 100%; height: 220px;}
    .tekstvak-button-workshop {float: left; margin-top: 40px;}
    .workshop1 {width: 100%; height: 300px;}
    .workshop2 {width: 100%; height: 300px;}
    .workshop3 {width: 100%; height: 300px;}
    .afbeelding1 {width: 50%; height: 100%; float: left;}
    .afbeelding2 {width: 50%; height: 100%; float: left;}
    .afbeelding3 {width: 50%; height: 100%; float: left;}
    .tekstvak{width:50%; height: 200px; float: right; padding-bottom: 0px;}
    .tekstvak-button {width:50%; float: left; margin-top: 50px;}
    .team {width: 100%;}
    .persoon1{width:30%; height: 300px;}
    .persoon2{width:30%; height: 300px;}
    .persoon3{width:30%; height: 300px;}
    .foto1 {height: 240px;}
    .foto2 {height: 240px;}
    .foto3 {height: 240px;}
    .naam {margin-top: 20px;}
}

@media only screen and (max-width:700px) {
    h1 {font-size: 30px;}
    h2 {font-size: 24px;}
    h3 {font-size: 26px;}
    h4 {font-size: 15px;}
    p {font-size: 14px;}
    .button-workshop {padding: 15px 20px;}
    .tekstvak-button-workshop {width: 100%;}
    .tekstvak-button {width: 100%; margin-top: 25px;}
    .nav-tekst {display: none;}
    #container {width: 90%;}
    .team {width: 80%;}
    .promovideo {width: 100%;}
    main {width: 90%;}
    .tekstvak-button-workshop {margin-top: 20px;}
    .article-header {width: 100%;}
    .workshop-new{height: 450px;}
    .mario-code-img{width: 100%; height: 35%;}
    .mario-code-tekstvak {width: 100%; height: 220px;}
    .workshop1 {width: 100%; height: 450px;}
    .workshop2 {width: 100%; height: 450px;}
    .workshop3 {width: 100%; height: 450px;}
    .afbeelding1 {width: 100%; height: 40%;}
    .afbeelding2 {width: 100%; height: 40%;}
    .afbeelding3 {width: 100%; height: 40%;}
    .tekstvak{width:100%; height: 180px; padding-bottom: 0px;}
    .persoon1 {width: 100%;}
    .persoon2 {width: 100%; margin-top: 50px;}
    .persoon3 {width: 100%; margin-top: 50px;}
}

@media only screen and (max-width: 500px) {
    h1 {font-size: 25px;}
    h2 {font-size: 19px;}
    h3 {font-size: 22px;}
    h4 {font-size: 14px;}
    p {font-size: 12px;}
    .button-workshop {padding: 15px 20px;}
    .tekstvak-button-workshop {width: 100%;}
    .tekstvak-button {width: 100%; margin-top: 25px;}
    .nav-tekst {display: none;}
    #container {width: 90%;}
    .team {width: 80%;}
    .promovideo {width: 100%;}
    main {width: 90%;}
    .tekstvak-button-workshop {margin-top: 20px;}
    .article-header {width: 100%;}
    .workshop-new{height: 450px;}
    .mario-code-img{width: 100%; height: 35%;}
    .mario-code-tekstvak {width: 100%; height: 220px;}
    .workshop1 {width: 100%; height: 450px;}
    .workshop2 {width: 100%; height: 450px;}
    .workshop3 {width: 100%; height: 450px;}
    .afbeelding1 {width: 100%; height: 40%;}
    .afbeelding2 {width: 100%; height: 40%;}
    .afbeelding3 {width: 100%; height: 40%;}
    .tekstvak{width:100%; height: 180px; padding-bottom: 0px;}
    .persoon1 {width: 100%;}
    .persoon2 {width: 100%; margin-top: 50px;}
    .persoon3 {width: 100%; margin-top: 50px;}
}